[run]
plugins = Cython.Coverage
parallel = True
omit = 
	*/python?.?/*
	*/lib-python/?.?/*.py
	*/lib_pypy/_*.py
	*/site-packages/ordereddict.py
	*/site-packages/nose/*
	*/unittest2/*
	*.pxd

[report]
sort = Cover
ignore_errors = True
exclude_lines = 
	# Have to re-enable the standard pragma
	pragma: no cover
	# General things
	def __repr__
	if 0:
	if False:
	if __name__ == .__main__.:

[Cython.Coverage]
exclude_lines = 
	^\s*def (\S+)\s*\(.*\):
	^\s*cdef (\S+.*?) \s*(\S+)\s*\(.*\):

