[run]
plugins = Cython.Coverage
parallel = True
omit = 
	*/python?.?/*
	*/lib-python/?.?/*.py
	*/lib_pypy/_*.py
	*/site-packages/ordereddict.py
	*/site-packages/nose/*
	*/unittest2/*
	*.pxd
	./cykdtree/tests/__main__.py
	*/__main__.py

[report]
sort = Cover
ignore_errors = True
exclude_lines = 
	pragma: no cover
	def __repr__
	if 0:
	if False:
	if __name__ == .__main__.:

[Cython.Coverage]
ignore_defs = True
ignore_cdefs = True
